@media (max-width: 768px) {
	body {
		padding: 0px;
	}
	.wrapper{
		max-width: fit-content;
	} 
	.main-content{
		max-width: 478px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.name{
		font-size: 25px;
	}
	.sidebar {
		max-width: 290px;
	}
	.sidebar-content {
		padding-left: 10px;
		padding-right: 10px;
	}
	.portfolio__img {
		max-width: 100%;
	  }
}