:root {
  --font-family: "Montserrat", sans-serif;
  --body-background-color: #f6f6fa;
  --wrapper-background-color: #ffffff;
  --title-font-color: #000000;
  --sidebar-background-color: #e0ebfe;
  --sidebar--font-color: #161d2a;
}
body {
  background-color: var(--body-background-color);
  padding: 40px 40px;
  font-family: var(--font-family);
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
.wrapper {
  background-color: var(--wrapper-background-color);
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}
/* Main content */
.main-content {
  padding-top: 88px;
  padding-left: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
}
/* My Info */
.main-content-info {
  margin-bottom: 40px;
}
.profession {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--title-font-color);
  margin-top: 20px;
  margin-bottom: 8px;
}
.name {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: var(--title-font-color);
  margin-top: 0px;
  margin-bottom: 12px;
}
.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-align: justify;
}
/* My projects */
.projects {
  margin-bottom: 40px;
}
.projects-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--title-font-color);
  margin-top: 0px;
  margin-bottom: 8px;
}
.projects-list {
  margin-left: 16px;
}
.projects-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--title-font-color);
}
.projects-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #005fff;
}
.projects-list-tech {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* Work Experience */
.work-experience {
  margin-bottom: 40px;
}
.work-experience-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--title-font-color);
}
.work-experience-company-1 {
  margin-top: 8px;
}
.work-experience-company-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--title-font-color);
  margin-bottom: 12px;
}
.work-experionce-company-positions {
  color: #6d9bf5;
}
.work-experience-period {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8px;
}
.work-experience-period-separstor {
  color: var(--title-font-color);
}
.work-experience-list {
  margin-left: 20px;
}
.work-experience-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.work-experience-company {
  margin-top: 12px;
}
/* Education */
.education {
  margin-bottom: 40px;
}
.education-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--title-font-color);
}
.education-company {
  margin-top: 8px;
}
.education-company-title {
  font-weight: 700;
  font-size: 16px;
  color: #6d9bf5;
  margin-bottom: 8px;
}
.education-company-name {
  font-weight: 700;
  font-size: 14px;
  color: var(--title-font-color);
  margin-bottom: 8px;
}
.education-period {
  font-weight: 400;
  font-size: 12px;
  color: #a8a8a8;
  margin-bottom: 8px;
}
.education-period-separator {
  color: var(--title-font-color);
}
/* My portfolio */
.my-portfolio {
  margin-top: 0px;
}
.my-portfolio-title {
  font-weight: 700;
  font-size: 22px;
  color: var(--title-font-color);
  margin-top: 8px;
  margin-bottom: 8px;
}
/* Sidebar */
.sidebar {
  background-color: var(--sidebar-background-color);
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 370px;
}
.sidebar-content {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
/* Contacts */
.contacts-conteiner {
  margin-bottom: 40px;
}
.sidebar-title {
  font-weight: 700;
  font-size: 22px;
  color: var(--sidebar--font-color);
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 8px;
}
.contacts-item {
  margin-top: 0px;
  margin-bottom: 4px;
}
.contacts-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #a8a8a8;
  margin-right: 8px;
}
.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  color: #2979ff;
}
/* Skills */
.skills-conteiner {
  margin-bottom: 40px;
}
.skills-list {
  padding-left: 16px;
}
.skills-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--sidebar--font-color);
}
/* Soft skills */
.soft-skills-list {
  padding-left: 16px;
}
.soft-skills-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--sidebar--font-color);
}

@media (max-width: 768px) {
  body {
    padding: 0px;
  }
  .wrapper {
    max-width: fit-content;
  }
  .main-content {
    max-width: 478px;
    padding-left: 20px;
    padding-right: 5px;
  }
  .name {
    font-size: 25px;
  }
  .sidebar {
    max-width: 290px;
  }
  .portfolio__img {
    max-width: 90%;
  }
}

@font-face {
  font-family: "FontAwesome";
  src: url("/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-calendar:before {
  content: "\f073";
}

.fa-external-link:before {
  content: "\f08e";
}

.fa-phone:before {
  content: "\f095";
}

.fa-envelope-o:before {
  content: "\f003";
}

.fa-linkedin:before {
  content: "\f0e1";
}
